#projects-wrapper{
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: blanchedalmond;
  justify-content: space-between;
  align-items: center;
}

#left-section-container, #right-section-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  width: 100%;
}

.left-section, .right-section{
  height: 20rem;
  width: 40rem;
  margin: 0 10rem;
}

#left-section-container{
  background-color: black;
}
#right-section-container{
  background-color: white;
}