#about-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#left-section-about{
    background-color: white;
    flex: 1.5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name-tag{
    margin-right: 10rem;
    padding-bottom: 4rem;
    font-size: 3rem;
    color:#ff5277;
}

.left-section-contents{
    margin-bottom: 1rem;
    display: flex;
    color: black;
    font-size: 1.5rem;
    margin: 0 5rem;
    line-height: 2.5rem;
    padding-bottom: 0.5rem 0;
    border-bottom: 1px solid #ff5277;
}

.left-section-contents:hover{
    color: #ff5277;
    border-bottom: 3px solid #ff5277;
}

#middle-section-about{
    background-color:#aaa;
    flex: 2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right-section-about{
    background-color:black;
    height: 100%;
    flex: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
#right-section-contents-wrapper{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    
}
.right-section-contents {
    color: white;
    padding-right: 2rem;
    margin-right: 1rem;
    font-size: 2rem;
    border-right: 3px solid #ff5277;
    border-bottom: 1px solid #ff5277;
    justify-content: space-between;
    display: block;
}

/*  this is cool */
.right-section-contents:hover{
    border-style: solid #ff5277;
    border-width: 3px 1px;
    cursor: pointer;

}

#right-section-render-contents-wrapper{
    height: 50%;
}

#profileLogo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.5;
    
  }
  
  #profileLogo:hover {
    opacity: 1;
  }


    #render-images-container{
    color: white;
    flex:3;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
}

#backend-contents{
    color: white;
}
#misc-contents{
    color: white;
}

.frontend-images{
    width: 20%;
    height: auto;
    object-fit: cover;
    padding: 1rem;
    margin-left: 2.5rem;
    border-bottom: 1px solid #ff5277;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.8;
}
.frontend-images:last-child{
    margin: 5rem 14.5rem;
}

.frontend-images:hover{
    opacity: 1;
    border-bottom: 2.5px solid #ff5277;
}


.backend-images{
    width: 20%;
    height: auto;
    object-fit: cover;
    padding: 1rem;
    margin-left: 2.5rem;
    border-bottom: 1px solid #ff5277;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.8;
}

.backend-images:hover{
    opacity: 1;
    border-bottom: 2.5px solid #ff5277;
}

.misc-images{
    width: 20%;
    height: auto;
    object-fit: cover;
    padding: 1rem;
    margin-left: 2.5rem;
    border-bottom: 1px solid #ff5277;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.8;
}

.misc-images:hover{
    opacity: 1;
    border-bottom: 2.5px solid #ff5277;
}
.misc-images:last-child{
    margin-left: 14.5rem;
}



@media only screen and (max-width: 389px){
    #about-container{
        display: flex;
        flex-direction: column;
        height: 70%;
       } 
       
       .left-section-contents{
        font-size: 0.5rem;
        margin: 0.5rem;
        line-height: normal;
       }
       .name-tag{
        font-size: 1rem;
        margin: 0;
       }
       #middle-section-about{
        height: 15rem;
       }
       #profileLogo{
        height: 10rem;
       }
       #right-section-about{
        height: 2rem;
        background-color: #111;
       }
       .right-section-contents{
        font-size: 1rem;
       }
       .frontend-images, .backend-images,.misc-images{
        height: 2rem;
        width: 2rem;
        object-fit: contain;
       }
       .misc-images:last-child{
        margin-left: 2.5em; 
    }
        .frontend-images:last-child{
            margin: 0 2.5rem;
        }
}

@media only screen and (min-width:390px) and (max-width: 800px){
    #about-container{
        display: flex;
        flex-direction: column;
        height: 70%;
       } 
       .left-section-contents{
        font-size: 0.5rem;
        margin: 0.5rem 2rem;
        line-height: normal;
       }
       .name-tag{
        font-size: 1rem;
        margin: 6rem 0 0 0;
        padding: 0;
       }
       #profileLogo{
        height: 50%;
        object-fit: contain;
       }
       #right-section-about{
        height: 2rem;
       }
       .right-section-contents{
        font-size: 1rem;
       }
       .frontend-images, .backend-images,.misc-images{
        height: 3rem;
        width: 3rem;
        object-fit: contain;
       }
       .misc-images:last-child{
        margin-left: 2.5em; 
    }
        .frontend-images:last-child{
            margin: 0 2.5rem;
        }
}


@media only screen and (min-width:801px) and (max-width: 1600px){
    #about-container{
        display: flex;
        flex-direction: column;
       } 
       .left-section-contents{
        font-size: 1rem;
       }
       .name-tag{
        font-size: 2rem;
       }
       #middle-section-about{
        height: 10rem;
       }
       #right-section-about{
        height: 10rem;
       }
       .frontend-images, .backend-images,.misc-images{
        height: 2rem;
        width: 5rem;
        object-fit: contain;
       }
       .misc-images:last-child{
        margin-left: 2.5em; 
    }
        .frontend-images:last-child{
            margin: 0 2.5rem;
        }
}   

@media only screen and (min-width:1601) and (max-width: 1700px){
.name-tag{
    font-size: 1.5rem;
}
.left-section-contents{
    font-size: 1rem;
}
}   