.container::-webkit-scrollbar {
  display: none;
}

.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}

#section1{
  background-color: black;
}


