.container{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}
#section1 {
    background-color: #4E312D;
  } 
  #section2 {
    background-color: #E0A96D;
  } 
   #section3 {
    background-color: red;
  }


