.container::-webkit-scrollbar {
  display: none;
}


#mainpage-container{
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
}

@media only screen and (max-width: 1300px){
  #mainpage-container {
    scroll-snap-type: initial;
  }
}

#sectionTest{
  background-color: white;
}



