#contact-container{
    height: 100%;
    background-color: black;
}

.contact-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.top-section-contact{
    margin-top: 4rem;
    background-color: beige;
    height: 32%;
}
.middle-section-contact{
    height: 32%;
    display: flex;
}
.contact-image{
    height: 5rem;
    width: 5rem;
    object-fit: contain;
    margin: 5rem;
}

.contact-image:hover{
    opacity: 0.8;
    cursor: pointer;
}
.bottom-section-contact{
    background-color: aquamarine;
    height: 32%;
}