.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contents {
  display: flex;
  justify-content: space-evenly;
}
.middle-contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: white;
  z-index: 2;
  width: 55rem;
  height: 15rem;
}
.left-side-content-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 20%;
  bottom: 15rem;
  color:   #B5B5B5;
  font-size: 1.5rem;
}
.quote {
  right: -5%;
}

.right-side-content-items{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 20%;
  top: 30rem;
  color:  #B5B5B5;
  font-size: 1.5rem;
}

.logo {
  position: absolute;
  right: 25;
  left: 25;
  bottom: 0;
  opacity: 0.4;
  pointer-events: none;
}


.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  visibility: visible;
  overflow: hidden;
}

.logo-container svg path {
  stroke-dasharray: 629.2;
  stroke-dashoffset: 629.2;
  animation: fillScreen 2s forwards;
}

@media only screen and (max-width: 576px) {
  .middle-contents {
    position: absolute;
    font-size: 2rem;
    width: 40rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
  }
  
  .left-side-content-items {
    bottom: 13rem;
    font-size: 1rem;
    gap: 2rem;
    left: 0;
  }
  
  .right-side-content-items {
    top: 20rem;
    font-size: 1rem;
    gap: 2rem;
    left: 0;
  }
}


@media only screen and (min-width: 577px) and (max-width: 768px){
  .middle-contents {
    position: absolute;
    font-size: 2rem;
    width: 40rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
  }
  
  .left-side-content-items {
    bottom: 13rem;
    font-size: 1.2rem;
    gap: 2rem;
    left: 0;
  }
  
  .right-side-content-items {
    top: 20rem;
    font-size: 1.2rem;
    gap: 2rem;
    left: 0;
  }
}


@media only screen and (min-width:769px) and (max-width: 1900px){
  .middle-contents {
    position: absolute;
    font-size: 4rem;
    width: 40rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
  }
  
  .left-side-content-items {
    bottom: 13rem;
    font-size: 2rem;
    gap: 2rem;
    left: 0;
  }
  
  .right-side-content-items {
    top: 20rem;
    font-size: 2rem;
    gap: 2rem;
    left: 0;
  }
}
  