.navbar {
    display: flex;
    font-size: 1rem;
    border-bottom: 0.5px solid white;
    height: 2.5rem;
    justify-content: space-between;
    padding-top: 1rem;
    position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  backdrop-filter: blur(3px);
  }
  .left-side-navbar-items {
    padding: 1rem;
    color: #FBEEC1;
    /* color: #E8D0A9; */
  }
  
  .right-side-navbar-items {
    padding: 1.5rem;
    color: #E8D0A9;
    /* color: #FBEEC1; */
  }
  .right-side-navbar-items:hover, .left-side-navbar-items:hover {
    color: gold; 
    font-weight: bold; 
    cursor: pointer;
    font-size: 2rem;
  }

