.navbar {
  display: flex;
  font-size: 1rem;
  border-bottom: 0.5px solid #ff5277;
  height: 2.5rem;
  justify-content: space-between;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  backdrop-filter: blur(3px);
}

.left-side-navbar-items {
  padding: 0.8rem;
  color: #ff5277;
}

.right-side-navbar-items {
  padding: 1.5rem;
  color: #ff5277;
}

.right-side-navbar-items:hover,
.left-side-navbar-items:hover {
  color: #ff5277;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
}

.hamburger-menu {
  display: none;
}

@media only screen and (max-width: 576px) {
  .right-side-navbar {
    display: none;
  }

  .hamburger-menu {
    display: block;
    font-size: 2rem;
    color: white;
    padding-right: 2rem;
  }
  .left-side-navbar-items:hover {
    font-weight: normal;
    cursor: auto;
    font-size: inherit;
  }

  .show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 3.6rem;
    height: 100vh;
    width: 100%;
    background-color: #000;
    z-index: 5;
    transition: 0.5s ease;
  }

  .right-side-navbar-items {
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }
  
  .left-side-navbar-items {
    font-size: 0.5em;
  }
}

@media only screen and (min-width: 577px) and (max-width: 900px) {
  .right-side-navbar {
    display: none;
  }


  .hamburger-menu {
    display: block;
    font-size: 2rem;
    color: white;
    padding-right: 2rem;
  }
  .left-side-navbar-items:hover {
    font-weight: normal;
    cursor: auto;
    font-size: inherit;
  }

  .show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 3.6rem;
    height: 100vh;
    width: 100%;
    background-color: #000;
    z-index: 5;
    transition: 0.5s ease;
  }

  .right-side-navbar-items {
    color: white;
    font-size: 2rem;
    padding: 1rem;
  }
  
  .left-side-navbar-items {
    font-size: 1em;
  }
}



