




.contents{
  display: flex;
  justify-content: space-evenly;
}

.left-side-content-items {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 40%;
  top: 14rem;
  color: #E0A96D;
  font-size: 1.8rem;
}
.right-side-navbar-items:hover, .left-side-navbar-items:hover {
    color: gold; /* Change the color to red */
    font-weight: bold; /* Make the font weight bold */
    cursor: pointer;
    font-size: 2rem;
  }

.right-side-content-items{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 40%;
  top: 40rem;
  color: #E0A96D;
  font-size: 1.8rem;
}
