#project-container{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: center;
}
#left-section{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70vw;
}

.project-image{
    width: 40rem;
    height: 25rem;
    object-fit: contain;
    margin: 5rem;
}
#title-section{
    font-size: 3rem;
}

.project-description{
    font-size: 1.5rem;
}

.tech-stack-section{
    display: flex;
    flex:1;
}
.projects-techstack-images{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin: 0.5rem;
    box-shadow: 0px 0px 10px 1px black;
    }
.project-link{
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    margin: 0.5rem;
    box-shadow: 0px 0px 10px 1px black;
}

.project-links,.project-description,.tech-stack-section{
    margin: 2.5rem 0;
}

@media screen and (max-width: 1000px) {
    #left-section{
        flex-direction: column;
    }
    .project-image{
        width: 10rem;
        height: 10rem;
        margin: 0;
    }
    .project-link{
        width: 1rem;
        height: 1rem;
    }
    .project-description{
        font-size: 1rem;
    }
    .projects-techstack-images{
        width: 1rem;
        height: 1rem;
    }
    .project-links,.project-description,.tech-stack-section{
        margin:0;
    }
  }
  
  





